@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #FFFFFF;
  --background-color: #121212;
  --color-grey: #ddd;
  --container-background: #1e1e1e;
  --color-red: #FF0000;
  --color-dark: #000000;
  --font-family: "Inter", sans-serif;
  --border-radius8: 8px;
  --border-radius15: 15px
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}